@import "bootstrap/dist/css/bootstrap.min.css";
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
}
.excuses{
    position: flex;
    text-align: center;
}